#win {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background: var(--bg);
    backdrop-filter: blur (10px);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.winTitle{
    font-family: 'Creepster', cursive;
    font-size: 40px;
    color: var(--titulo);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: scale(1.1);
}
.winTitle:hover {
    color: var(--secundaria);
    transition-duration: 0.40s;
}
.texto_win {
    font-family: 'Anton', sans-serif;
    font-size: 23px;
    color: var(--txt);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
}
.try_again {
    padding-bottom: 25px;
}
